<div>
    <div class="jumbotron jumbotron-fluid big-banner">
        <div id="logo"></div>
        <button type="button">
            <span>Unete a nosotros</span>
        </button>
    </div>




    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 question">
                <span id="textques">Te imaginas desarrollar una empresa que te permita vivir haciendo lo que te apasiona al mismo tiempo que generas impacto positivo en el mundo?</span>
            </div>
            <div class="col-12 col-md-4 im1">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 im2">
            </div>
            <div class="col-12 col-md-8 answer">
                <span id="textans">En Clubes de Innovación y Emprendimiento trabajamos para poner a tu alcance 
                    conocimiento y a personas dispuestas a apoyarte para que desarrolles una idea de negocio que te permita mejorar nuestro mundo de forma sostenible</span>
            </div>
        </div>
    </div>  









<!-- 
    <div class="container3">
        <h1 id="title1">Nuestra Comunidad</h1>
        <div id="com1">
            <div id="imcom1"></div>
            <div id="titlecom1"><strong>Clubes</strong></div>
        </div>
        <div id="com2">
            <div id="imcom2"></div>
            <div id="titlecom2"><strong>Miembros</strong></div>
        </div>
        <div id="com3">
            <div id="imcom3"></div>
            <div id="titlecom3"><strong>Asesores</strong></div>
        </div>
        <div id="com4">
            <div id="imcom4"></div>
            <div id="titlecom4"><strong>Mentores</strong></div>
        </div>
        <div id="com5">
            <div id="imcom5"></div>
            <div id="titlecom5"><strong>Facilitadores</strong></div>
        </div>
        <div id="com6">
            <div id="imcom6"></div>
            <div id="titlecom6"><strong>Aliados Estratégicos</strong></div>
        </div>
    </div>-->
    <div class="container4">
        <div id="box1">
            <h1 id="title2"><strong>Nuestros Logros</strong></h1>
            <div class="container-fluid">
                <div class="row">
                  <div class="col">
                    <div id="cont1">
                        <div id=imlog1></div>
                    </div>
                    <div id="textlog1"><strong>Más de 50 hipótesis de modelos de negocio desarrollados con alto potencial de impacto social, sostenibilidad y escalabilidad</strong></div>
                  </div>
                  <div class="col">
                    <div id="cont1">
                        <div id=imlog2></div>
                    </div>
                    <div id="textlog1"><strong>Más de 700 ideas de emprendimientos sociales desarrolladas</strong></div>
                  </div>
                  <div class="col">
                    <div id="cont1">
                        <div id=imlog3></div>
                    </div>
                    <div id="textlog1"><strong>Más de 5700 personas sensibilizadas de manera directa sobre la importancia y alcances de la ciencia, tecnología, innovación y emprendimiento para construir un mundo mejor</strong></div>
                  </div>
                </div>
            </div>
        </div> 
    </div>
</div>
